

@font-face {
  font-family:'Inter' ;
  src: url(fonts/DXRigraf-SemiBold.otf)
}
body {

  cursor: url("https://de3.studio/start.svg") 16 16, ;

  overflow-x: hidden;
font-family: 'Inter', sans-serif;
color:white;
  background: #111111;
  margin: auto;
  box-sizing: border-box;
}